# Naive Bayes

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
df=pd.read_csv('play_tennis.csv')
df.head()

  day   outlook  temp humidity    wind play
0  D1     Sunny   Hot     High    Weak   No
1  D2     Sunny   Hot     High  Strong   No
2  D3  Overcast   Hot     High    Weak  Yes
3  D4      Rain  Mild     High    Weak  Yes
4  D5      Rain  Cool   Normal    Weak  Yes

In [3]:
df['play'].value_counts()

play
Yes    9
No     5
Name: count, dtype: int64

In [6]:
py = 9 / 14.0
pn = 5 / 14.0

In [8]:
pd.crosstab(df['outlook'],df['play'])

play      No  Yes
outlook
Overcast   0    4
Rain       2    3
Sunny      3    2

In [9]:
Pon=0
Prn=2/5
Psn=3/5
Poy=4/9
Pry=3/9
Psy=2/9

In [10]:
pcooln=1/5
photn=2/5
pmildn=2/5

pcooly=3/9
photy=2/9
pmildy=4/9

In [11]:
phign=4/5
pnormaln=1/5

phighy=3/9
pnormy=6/9

In [12]:
Pstrongn=3/5
Pweakn=2/5
Pstrongy=3/9
Pweaky=6/9

In [13]:
# Test for a sample: Overcast, Mild, High, Strong
# P(Yes)
Pyes = Poy * pmildy * phighy * Pstrongy * py
Pyes

0.014109347442680773

In [15]:
# Test for a sample: Sunny, Cool, High, Strong
# P(No)
Pno = Pon * pcooln * phign * Pstrongn * pn
Pno

0.0